/* font */
@font-face {
    font-family: BankGothic;
    src: url(../img/fonts/BankGothicMedium.otf)
}

/* footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    color: white;
}

.footer li a {
    color: white;
    text-decoration: none;
}

.footer li a:hover {
    border-bottom: 1px solid white;
}

#slideFooter{
    display: none;
    background-color: rgba(15, 38, 54, 0);
}

#slideFooter.active {
    display: block;
    bottom: 0;
    background-color: rgb(15, 38, 54);
}

.SpaceXLogo{
    font-family:BankGothic;
    color: white;
    font-size: 10px;
    margin-left: 7px;
    margin-bottom: -10px;
    position: absolute;
}

.arrow {
    font-size: 2em;
    cursor: pointer;
}

.spaceXLogo {
    max-width: 180px;
}
.logoImg {
    max-width: 180px !important;
}

ul {
    list-style-type: none;
}