/* header */
.header {
    background-color: rgb(3 17 43 / 98%);
}

.headerList {
    display: inline;
    margin: 6px;

}

.headerList a {
    font-family: Bebas Neue;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}

.headerList a:hover {
    border-bottom: 2px solid white;
}

.logoImg {
    max-width: 180px !important;
}