/** Suite Overview **/
#suite-overview {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.suite {
    border: 1px solid;
    display: flex;
    flex-direction: row;
    align-content: center;
}
#suite-overview .suite-image{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 30%;
    align-self: center;
}

#suite-overview .suite-image img {
    height: auto;
    width: 100%;
    display: flex;
}

#suite-overview .suite-price {
    text-align: right;
}

#suite-overview .suite-text{
    flex-grow: 4;
    padding-left: 15px;
    align-self: center;
}

/** Single Suite **/
#suite-single{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border: 1px solid;
}

.left-align{
    text-align: left;
}

#suite-single img {
    width: 100%;
}

#suite-single .suite-text {
    display: inline-block;
    width: 69%;
}

#suite-single .suite-name{
    text-align: left;
}